* {
    box-sizing: border-box;
    margin: 4;
    padding; 4;
    border: 1px solid white;
    background-color: white;
}

h1{
    color: black;
    font-family: cursive;
    font-weight: 200px;
    text-align: center;
    text-decoration: underline;
   
}
h2{
    color: black;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}
h3{
    color: black;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: block;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* nav{
    display: inline-block;    
    font-size: 20pt;
    border: 1px solid black;
    text-align: center;
    } */
÷
    body{
        color: black; 
        background-color: black;
        text-align: center;
    }
    img{
        box-shadow: 5px 5px 5px white 
    }
    /* li{
        list-style-type: none;
    } */
    p{
        color: black;
        font-size: 1.25em;
        text-align: center;
    }    
    /* .center {
        color: white;
        margin-left: auto;
        margin-right: auto;
    } */

    /* div {
        background-color: black;
        width: 450px; height: 270px;
        margin-left: auto;
        margin-right: auto;
    } */
    /* span{ */
        /* color: salmon; */
        /* font-size: 40pt; */
        /* font-family: Lucida Sans; */
     /* } */
    .div1{
        background-color: white; 
        border: 5px solid black;
        color: white;
        display: inline-block;
        height: 25%;
        width: 100%;
    }

        .diva{
            height: 25%;
            viewport-length: 33%;
            box-align: margin-left
            
        }
        .divb{
            height: 25%;
            viewport-length: 33%;
        }
        .divc{
            height: 25%;
            viewport-length: 33%;
        }

    .div2{
        background-color: salmon;
        width: 100%;
        border: 5px double black;
        display: inline-block;
        height: 25%;
        width: 100%;
    }

    .divd{
        height: 25%;
        width: 100%;
    }
    .dive{
        height: 25%;
        width: 100%;
    }

    .div3{
        background-color: white; 
        border: 5px solid black;
        color: white;
        display: inline-block;
        height 25%;
        width: 100%;
    }   
    .div4{
        background-color: salmon;
        border: 5px double black;
        display: inline-block;
        height: 25%;
        width: 100%;
    }

        .divf{
            height: 25%;
            width: 100%;
        }
        .divg{
            height: 25%;
            width: 100%;
        }
        .divh{
            height: 25%;
            width: 100%;
        }

    form{
        padding: 15px;
        background-color: black;
        font-style: bold;
        color: white;
        border: 10px double salmon;
        font-weight: 900px;
        width: 50%;
        display: block;
        position: right;
    
    }
    input[type=button]:hover{
        color: black;
        background-color: salmon;
        text-align: center;
        border: solid;
        padding: 5px;
    }
    input [type=text]:focus {
        background-color: salmon;
        color: black;
        width: 100%;
        transition: 2s;
    }

