* {
    box-sizing: border-box;
    margin: 2;
    padding; 2;
    border: 1px solid black;
}

h1{
    color: white;
    font-family: cursive;
    font-weight: 500px;
    text-align: center;
    text-decoration: underline;
   
}
nav{
    display: block;    
    font-size: 30pt;
    border: 1px solid white;
    }
.crumbs ol {
list-style-type: none;
padding-left: 0;
}
.crumbs {
display: inline-block;
}
.crumb a::after {
display: inline-block;
color: #000;
content: '>';
font-size: 80%;
font-weight: bold;
padding: 0 3px;
}
    body{
        color: white; 
        background-color: black;
        text-align: center;
    }
    img{
        box-shadow: 5px 5px 5px white 
    }
    li{
        list-style-type: none;
    }
    p{
        color: black;
        font-size: 16pt;
        text-align: center;
    }    
    .center {
        color: white;
        margin-left: auto;
        margin-right: auto;
    }
    .name {           
        text-decoration: underline white;
    }
    .link {
       color: blueviolet

    }
    div {
        background-color: white;
        width: 450px; height: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    span{
        color: salmon;
        font-size: 40pt;
        font-family: Lucida Sans;
    }
    #div1{
        background-color: white; 
        border: 5px dotted salmon;
    }
    #div2{
        background-color: salmon;
        width: 450px; height: 328px;
        border: 5px double white;
    }
    form{
        padding: 15px;
        background-color: black;
        font-style: bold;
        border: 10px double salmon;
        font-weight: 900px;
    
    }
    input[type=button]:hover{
        color: black;
        background-color: salmon;
        text-align: center;
        border: solid;
        padding: 5px;
    }
    input [type=text]:focus {
        background-color: salmon;
        color: black;
        width: 100%;
        transition: 2s;
    }

